
	

.user-wrapper {
    display: inline-block;
    height: 32px;
    margin: 2px 0;
    text-align: right;
    width: 256px;
    vertical-align: top;
}

.user-links-wrapper {
    display: inline-block;
    margin-right: 16px;
    width: 208px;
}

.user-links-row {
    height: 16px;
    line-height: 16px;
    overflow: hidden;
    white-space: nowrap;
}

.navbar {
    -webkit-box-shadow: 0 10px 7px -8px #002E62;
    -moz-box-shadow: 0 10px 7px -8px #002E62;
    box-shadow: 0 10px 7px -8px #002E62;

    /* the rest of your styling */
}

