.small-box {
    border-radius: 6px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 154px;

}

.aqua{
    background-color: rgba(53, 114, 158, 0.92) !important;
}

.icon img
{
    width:100px;

}

.small-box>.inner {
    padding: 13px;
    margin-bottom: 25px;
    color: white;
}

.small-box:hover
{
    border-radius: 2px;
}
.small-box>.inner>.e>.icon>img:hover
{
    width:98px;
    padding-left:2px;
    padding-bottom:2px;
    
    
}

.newstyle {
    font-size: 18px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding-left: 10px;
    padding-top: 1px;

}

.small-box-footer
{
    position:relative;
    text-align:center;
    padding:3px 0;
    color:#fff;
    color:rgba(255,255,255,0.8);
    display:block;
    z-index:10;
    background:rgba(0,0,0,0.1);
    text-decoration:none;
    }
.small-box>.small-box-footer:hover
{
    color:#fff;
    background:rgba(0,0,0,0.15)
}